.solar-system{
    min-height: 350px;
    max-height: 90vh;
    max-width: 90vh;
    height: 60vw;
    min-width: 350px;
    width: 60vw;
    position: relative;
}

.planet{
    border: 1px solid rgb(240, 255, 255, 0.5);
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: auto;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0);
}

.planet:hover,
.planet:hover .img-planet{
    cursor: pointer;
    border: 3px solid rgb(100, 149, 237, 1);
}

@keyframes orbit{
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}

.neptune{
    height: 100%;
    width: 100%;
    animation: orbit 3300s infinite linear;
}

.uranus{
    width: 90%;
    height: 90%;
    animation: orbit 1680s infinite linear;
}

.saturn{
    width: 80%;
    height: 80%;
    animation: orbit 580s infinite linear;
}

.jupiter{
    width: 70%;
    height: 70%;
    animation: orbit 240s infinite linear;
}

.mars{
    width: 60%;
    height: 60%;
    animation: orbit 37.6438s infinite linear;
}

.earth{
    width: 50%;
    height: 50%;
    animation: orbit 20s infinite linear;
}

.venus{
    width: 40%;
    height: 40%;
    animation: orbit 12.3287s infinite linear;
}

.mercury{
    width: 30%;
    height: 30%;
    animation: orbit 4.8219s infinite linear;
}

.sun{
    position: absolute;
    height: 15%;
    width: 15%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: auto;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../images/sun.svg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}

.sun:hover{
    border: 3px solid cornflowerblue;
}




.img-planet{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0px auto;
    border-radius: 50%;
}

.img-neptune{
    height: 20px;
    width: 20px;
    top: -10px;
    background-image: url("../images/neptune.svg");
}

.img-uranus{
    height: 25px;
    width: 25px;
    top: -12.5px;
    background-image: url("../images/uranus.svg");
}

.img-saturn{
    height: 50px;
    width: 50px;
    top: -25px;
    background-image: url("../images/saturn.svg");
}

.img-jupiter{
    height: 30px;
    width: 30px;
    top: -15px;
    background-image: url("../images/jupiter.svg");
}

.img-mars{
    height: 20px;
    width: 20px;
    top: -10px;
    background-image: url("../images/mars.svg");
}

.img-earth{
    height: 20px;
    width: 20px;
    top: -10px;
    background-image: url("../images/earth.svg");
}

.img-venus{
    height: 20px;
    width: 20px;
    top: -10px;
    background-image: url("../images/venus.svg");
}

.img-mercury{
    height: 20px;
    width: 20px;
    top: -10px;
    background-image: url("../images/mercury.svg");
}