.solar-system{
    min-height: 280px;
    height: 60vw;
    min-width: 280px;
    width: 60vw;
    position: relative;
}

.planet{
    border: 3px solid azure;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    /* animation: orbit 100s infinite linear; */
    pointer-events: initial;
}

.planet:hover{
    cursor: pointer;
    border: 3px solid cornflowerblue;
}

@keyframes orbit{
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}

.neptune{
    height: 100%;
    width: 100%;
    z-index: 0;
}

.uranus{
    width: 85%;
    height: 85%;
    z-index: 2;
}

.saturn{
    width: 85%;
    height: 85%;
    z-index: 3;
}

.jupiter{
    width: 80%;
    height: 80%;
    z-index: 4;
}

.mars{
    width: 80%;
    height: 80%;
    z-index: 5;
}

.earth{
    width: 80%;
    height: 80%;
    z-index: 6;
}

.venus{
    width: 70%;
    height: 70%;
    z-index: 7;
}

.mercury{
    width: 70%;
    height: 70%;
    z-index: 8;
}

.sun{
    height: 60%;
    width: 60%;
    background-image: url("../images/sun.svg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    z-index: 9;
}

.sun:hover{
    border: 3px solid cornflowerblue;
}

.img-planet{
    position: absolute;
}

.img-neptune{
    height: 20px;
    width: 20px;
    top: -10px;
    background-image: url("../images/neptune.svg");
}

.img-uranus{
    height: 25px;
    width: 25px;
    top: -12.5px;
    background-image: url("../images/uranus.svg");
}

.img-saturn{
    height: 50px;
    width: 50px;
    top: -25px;
    background-image: url("../images/saturn.svg");
}

.img-jupiter{
    height: 30px;
    width: 30px;
    top: -15px;
    background-image: url("../images/jupiter.svg");
}

.img-mars{
    height: 20px;
    width: 20px;
    top: -10px;
    background-image: url("../images/mars.svg");
}

.img-earth{
    height: 20px;
    width: 20px;
    top: -10px;
    background-image: url("../images/earth.svg");
    border: 3px solid darkblue;
}

.img-venus{
    height: 20px;
    width: 20px;
    top: -10px;
    background-image: url("../images/venus.svg");
}

.img-mercury{
    height: 20px;
    width: 20px;
    top: -10px;
    background-image: url("../images/mercury.svg");
}